.profilePng {
    width: 34%;
    height: 80%;
    border-radius: 50px;
}

.InfoSpan1 {
    font-size: 60px;
    font-weight: 600;
}

.InfoSpan2 {
    color: #ccc;
    font-size: 24px;
}

.InfoLink {
    margin-left: 10px;
    border-radius: 30px;
    padding: 5px 10px;
    transition: border 0.3s ease;
    border: 1px solid transparent;
}

.InfoLink:nth-child(1) {
    background-color: black;
    color: white;
}

.InfoLink:nth-child(2) {
    background-color: beige;
    color: black;
}

.InfoLink:nth-child(1):hover {
    border: 2px solid skyblue;
}

.InfoLink:nth-child(2):hover {
    border: 2px solid orangered;
}

.image-container {
    position: relative;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.image-hover {
    max-width: 160px;
    transition: transform 0.3s;
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.image-hover img {
    display: block;
    width: 140px;
    border-radius: 100px;
    height: 140px;
}

.image-hover::before {
    content: attr(data-alt);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    font-weight: 600;
    border-radius: 50px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 2;
}

.image-hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    opacity: 0;
    transition: opacity 0.3s;
}


.image-hover:hover::before,
.image-hover:hover::after {
    opacity: 1;
}

.Container3Text1,
.Container3Text2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border {
    color: white;
}

@media screen and (max-width: 768px) {
    .image-container {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .Container3Text1,
    .Container3Text2{
        font-size: 20px;
    }

    .image-hover img{
        max-width: 120px;
        max-height: 120px;
    }
}